.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #16A085, #77A1D3, #79CBCA, #F4D03F);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #16A085, #77A1D3, #79CBCA, #F4D03F);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
.center-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.full-screen-container {
  height: 100vh; /* Set the container height to 100% of the viewport height */
  display: flex; /* Use flexbox for vertical centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
